/*Author: Jaswinder Sidhu /Kirandeep Kaur
Source: COMP397 - Game
Last modified by: Jaswinder Sidhu
Date Last Modified: August 14, 2015 
Description: side scroller game of boat in the sea 
Revision History: Revised 10 times 
    */
body {
}

canvas {
    border: dashed 1px black;
}
